<!DOCTYPE html>
<html lang="en">
<head>
    <title>Status Change</title>
</head>
<body>
    <h1>The following streams changed status:</h1>
    <table cellspacing="0" cellpadding="5">
        <tr>
            <td style="border: 1px solid black">Reference Designator</td>
            <td style="border: 1px solid black">Stream</td>
            <td style="border: 1px solid black">Method</td>
            <td style="border: 1px solid black">Previous</td>
            <td style="border: 1px solid black">Current</td>
            <td style="border: 1px solid black">Exp. Rate</td>
            <td style="border: 1px solid black">Warn Int</td>
            <td style="border: 1px solid black">Fail Int</td>
            <td style="border: 1px solid black">Elapsed Secs</td>
            <td style="border: 1px solid black">5Min Rate</td>
            <td style="border: 1px solid black">1Day Rate</td>
            <td style="border: 1px solid black">Change</td>
        </tr>
{% for reference_designator in status_dict %}
{% for row in status_dict[reference_designator] %}
        <tr>
{% if loop.index == 1 %}
            <td style="border: 1px solid black"><a href="{{ base_url }}/instrument/{{ reference_designator }}">{{ reference_designator }}</a></td>
{% else %}
            <td style="border: 1px solid black"> -- </td>
{% endif %}
            <td style="border: 1px solid black"><a href="{{ base_url }}/stream/{{ row.id }}">{{ row.stream }}</a></td>
            <td style="border: 1px solid black">{{ row.method }}</td>
            <td style="border: 1px solid black">{{ row.last_status }}</td>
            <td style="border: 1px solid black"><span style="color:{{ row.color }}">{{ row.new_status }}</span></td>
            <td style="border: 1px solid black">{{ row.expected_rate|round(5) }}</td>
            <td style="border: 1px solid black">{{ row.warn_interval }}</td>
            <td style="border: 1px solid black">{{ row.fail_interval }}</td>
            <td style="border: 1px solid black">{{ row.elapsed|round(1) }}</td>
            <td style="border: 1px solid black">{{ row.five_minute_rate|round(5) }}</td>
            <td style="border: 1px solid black">{{ row.one_day_rate|round(5) }}</td>
            <td style="border: 1px solid black">{{ row.arrow }}</td>
        </tr>
{% endfor %}
{% endfor %}
    </table>
</body>
</html>

